.pc-counter-reset {
    counter-reset: line;
}

.pc-card {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

    .pc-card .pc-member {
        width: 100%;
        display: inline-block;
        min-height: 120px;
        /*max-height: 170px;*/
        margin-bottom: 5px;
        vertical-align: top;
    }

        /*.pc-card .pc-member{
            width: 45%; /*for 2 columns
        }*/

        .pc-card .pc-member::before {
            counter-increment: line;
            content: counter(line) ") ";
            float: left;
            font-size: 0px;
            margin-left: 10px;
        }

    .pc-card.col-2 .pc-member {
        width: 45%; /*for 2 columns*/
    }

    .pc-card.col-3 .pc-member {
        width: 30%; /*for 3 columns*/
    }

    .pc-card .img {
        float: left;
        width: 90px;
        height: 120px;
        border: 1px solid #d8e3f6;
    }

    .pc-card .content {
        float: right;
        width: calc(100% - 120px);
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid transparent;
    }

    .pc-card .name {
        display: block;
        font-weight: bold;
    }

    .pc-card .executive {
        display: block;
    }

    .pc-card .otherInfo {
        display: block;
    }


.pc-member .organization {
    display: block;
    width: 100%;
}

    .pc-member .organization:empty {
        display: none;
    }

.pc-member .phone::before {
    content: "Tel: ";
}

.pc-member .phone {
    display: block;
}

    .pc-member .phone:empty {
        display: none;
    }

.pc-member .email::before {
    content: "Email: ";
}

.pc-member .email {
    display: block;
}

    .pc-member .email:empty {
        display: none;
    }

.pc-list {
    height: auto;
}

    .pc-list .pc-member {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }

        .pc-list .pc-member::before {
            counter-increment: line;
            content: counter(line) ") ";
            display: inline-block;
            width: 25px;
            text-align: right;
            vertical-align: top;
        }

    .pc-list .img {
        display: none;
    }

    .pc-list .content {
        display: inline-block;
        width: calc(100% - 45px);
    }

    .pc-list .name {
        display: inline-block;
        width: 400px;
        font-weight: normal;
        vertical-align: top;
    }

    .pc-list .executive {
        display: none;
    }

    .pc-list .otherInfo {
        display: inline-block;
        width: calc(100% - 410px);
        text-decoration: none;
    }

    .pc-list .phone, .pc-list .email {
        display: none;
    }

.pc-member {
    width: 100%;
    background-image: none; /*url('../imgs/org.png');*/
    background-size: 90px;
    background-position: 0px;
    background-repeat: no-repeat;
}

    .pc-member .img.worawut {
        background-image: url('../imgs/worawut.png');
        background-size: 200px;
        background-position: -50px -5px;
        background-repeat: no-repeat;
    }

    .pc-member .img.rattana {
        background-image: url('../imgs/rattana.png');
        background-size: 160px;
        background-position: -40px -5px;
        background-repeat: no-repeat;
    }


    .pc-member .img.nuwan {
        background-image: url('../imgs/nuwan.png');
        background-size: 180px;
        background-position: -38px -5px;
        background-repeat: no-repeat;
    }

    .pc-member .img.pun {
        background-image: url('../imgs/nuwan.png');
        background-size: 160px;
        background-position: -40px -5px;
        background-repeat: no-repeat;
    }

    .pc-member .img.prathana {
        background-image: url('../imgs/prathana.png');
        background-size: 160px;
        background-position: -35px -5px;
        background-repeat: no-repeat;
    }

    .pc-member .img.pun {
        background-image: url('../imgs/pun.png');
        background-size: 160px;
        background-position: -30px 0px;
        background-repeat: no-repeat;
    }

    .pc-member .img.sinchai {
        background-image: url('../imgs/sinchai.jpg');
        background-size: 120px;
        background-position: -15px 0px;
        background-repeat: no-repeat;
    }

    .pc-member .img.pensiri {
        background-image: url('../imgs/pensiri.png');
        background-size: 230px;
        background-position: -42px -17px;
        background-repeat: no-repeat;
    }

    .pc-member .img.siriwan {
        background-image: url('../imgs/siriwan.png');
        background-size: 200px;
        background-position: -58px -16px;
        background-repeat: no-repeat;
    }

    .pc-member .img.noppon {
        background-image: url('../imgs/noppon.jpg');
        background-size: 140px;
        background-position: -26px 0px;
        background-repeat: no-repeat;
    }

    .pc-member .img.chayanon {
        background-image: url('../imgs/chayanon.jpg');
        background-size: 120px;
        background-position: -15px -20px;
        background-repeat: no-repeat;
    }

    .pc-member .img.supachai {
        background-image: url('../imgs/supachaijeangjai.jpg');
        background-size: 180px;
        background-position: -40px -10px;
        background-repeat: no-repeat;
    }

    .pc-member .img.sombat {
        background-image: url('../imgs/sombatkhruathong.jpg');
        background-size: 160px;
        background-position: -30px -00px;
        background-repeat: no-repeat;
    }

@media (max-width: 1240px) {
    .pc-card.col-3 .pc-member {
        width: 45%;
    }
}


@media (max-width: 750px) {
    .pc-card.col-2 .pc-member, .pc-card.col-3 .pc-member {
        width: 100%;
    }

    .pc-list {
        display: block;
        position: relative;
    }

        .pc-list .content {
            display: inline-block;
            width: calc(100% - 30px);
        }

        .pc-list .name {
            display: inline;
            width: 100%;
            font-weight: normal;
            vertical-align: top;
        }

        /*.pc-list p:before {
            content: " (";
        }

        .pc-list p:after {
            content: ")";
        }*/

        .pc-list .executive {
            display: none;
        }

        .pc-list .otherInfo {
            display: block;
            white-space: normal;
            text-decoration: none;
            width: 100%;
        }
}
