<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>www.conference.phuket.psu.ac.th/conference2018</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>192.168.192.204</MSDeployServiceURL>
    <DeployIisAppPath>PSUPIC/conference2018</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>VSDeploy</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Conference2018.Models.ApplicationDbContext, Conference2018" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Conference2018.Models.PSUPIC2018DbContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Conference2018.Models.PSUPIC2018DbContext, Conference2018" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PSUPICEntities1" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Conference2018.Datasources.PSUPICEntities1, Conference2018" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PSUPICEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=lcwin209.phuket.psu.ac.th;Initial Catalog=PSUPIC;Persist Security Info=True;User ID=ConDB;Password=m@n@gEr$c0nfErEncE;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PSUPICEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Datasources.PSUPIC.csdl|res://*/Datasources.PSUPIC.ssdl|res://*/Datasources.PSUPIC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=lcwin209.phuket.psu.ac.th;initial catalog=PSUPIC;persist security info=True;user id=ConDB;password=m@n@gEr$c0nfErEncE;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Conference2018.Models.PSUPIC2018DbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PSUPICEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PSUPICEntities1-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Conference2018.Models.PSUPIC2018DbContext" />
  </ItemGroup>
</Project>